.panel-body {
  padding-bottom:0;
  padding-top:1em;
}

.name-column {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-column{
  max-width:60px;
}

.pagination-holder {
  margin-left: -30px;
}

.centered-search {
  margin-top: -5px;
}

@media only screen and (max-width: 767px) {
  .centered-search {
    padding-bottom:12px;
  }

  .table > tbody > tr > td {
    font-size: .85em;
  }
  th {
    font-size: .85em;
  }

}

@media only screen and (max-width: 425px) {

  .table > tbody > tr > td.xxs-hidden {
    display: none;
  }
  th.xxs-hidden {
    display: none;
  }

  .table > tbody > tr > td {
    font-size: .8em;
  }
  th {
    font-size: .8em;
  }

}


@media only screen and (max-width: 360px) {

  .table > tbody > tr > td {
    font-size: .7em;
  }
  th {
    font-size: .7em;
  }
}

