.panel-body {
  padding-bottom:0;
}

.table .btn {
  padding:2px 5px 2px 5px;
}

.table > tbody > tr > td.border-right {
  border-right-width:1px;
  border-right-color:lightgrey;
  border-right-style: solid;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align:middle !important;
}


