<div class="panel panel-default">

	<div class="panel-heading">
		<h2 class="panel-title">Products</h2>
	</div>

	<div class="panel-body">

    <p>
      <strong>Product Altered:</strong> {{lastProductAltered.name}}
      <br />
      <strong>Altered:</strong> {{ lastProductAlteredDate | date:"mediumDate" }} {{ lastProductAlteredDate | date:"mediumTime"}}
    </p>

    <div class="fancy-form">
      <i class="fa fa-user"></i>

      <input type="text" class="form-control input-sm" placeholder="Name Search" [(ngModel)]="filter">

      <span class="fancy-tooltip top-left">
        <em>Searches for matching products</em>
      </span>
    </div>
	</div>

  <div class='table-responsive'>
    <table class="table table-striped table-hover table-bordered" *ngIf='products && products.length'>
      <thead>
        <tr>
          <th class="h5 text-center">Image</th>
          <th class="h5">Name</th>
          <th class="h5 text-right">Cost</th>
          <th class="h5 text-right xxs-hidden">Retail</th>
          <th class="h5 text-right hidden-xs hidden-sm hidden-md">First Made</th>
          <th class="h5 text-center hidden-xs">Purchase</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products | productsFilter: filter">
          <td class="text-center">
            <img class="img-responsive" alt="Photo"
              [src]="item.productThumbnail | sourceBase64:'gif'"
              [title]="item.name">
          </td>
          <td class="h6">

            <strong>
              <a [routerLink]="['/product', item.productID]">{{item.name}}</a>
            </strong>

          </td>
          <td class="h6 text-right hidden-xs">
            {{ item.standardCost | currency:"USD":true:"1.2-2" }}
          </td>
          <td class="h6 text-right visible-xs">

            <strong>
              <app-popout-action
                modalId="product-order-modal"
                (click)="onProductRowDetails(item)"
                actionMessage="{{item.standardCost | currency:'USD':true:'1.2-2'}}">
              </app-popout-action>
            </strong>

          </td>
          <td class="h6 text-right xxs-hidden">
            {{ item.listPrice | currency:"USD":true:"1.2-2" }}
          </td>
          <td class="h6 text-right hidden-xs hidden-sm hidden-md">
            {{ item.sellStartDate | date:"mediumDate" }}
          </td>
          <td class="text-center hidden-xs xs-hidden-button">

            <app-popout-action
              modalId="product-order-modal"
              (click)="onProductRowDetails(item)"
              actionMessage= "Order"
              actionClasses="btn btn-default btn-sm table-button">
            </app-popout-action>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!--MODALS-->
<app-popout-content
  modalId="product-order-modal"
  title="Purchase this Product"
  primaryActionMessage="Add To Cart"
  (actionSelected)="onProductOrderClosed($event)">

  <div class="panel panel-default">
    <div class="panel-body">
      <strong>{{currentProduct.productID}} Order:</strong> {{ currentProduct.name }}
      <hr />
      Price: {{ currentProduct.standardCost | currency:"USD":true:"1.2-2" }}
    </div>
  </div>

</app-popout-content>

<loading-panel [isVisible]="loading">
</loading-panel>
