/*Smarty Overrides*/
.fancy-form>input {
  border: none;
}

.fancy-form>i {
  margin-top: -6px;
  left:10px;
}

.fancy-form {
  margin-bottom: 0px;
  margin-right: -8px;
}

.fancy-tooltip {
 margin-bottom: 30px;
}
