/*Smarty Theme Overrides*/

#footer ul.footer-posts>li {
  padding: 7px 0;
}

.footer-posts {
  margin-top: -8px;
}

.social-bar {
  min-width:250px;
}

.no-padding-sides {
  padding-left:0;
  padding-right:0;
}
