<div class="panel panel-default" *ngIf='product'>

  <div class="panel-heading">
    <h2 class="panel-title bold">{{product.name}}</h2>
  </div>

  <!--
  //List Product
  productID: number = 0;
  name: string = "";
  productNumber: string = "";
  sellStartDate: Date;
  standardCost: number = 0;
  listPrice: number = 0;
  productThumbnail: string = "";
  productThumbnailFileName: string = "";

  //Full Product
  class: string = "";
  color: string = "";
  daysToManufacture: number = 0;
  productDocument: string = "";
  productLine: string = "";
  productReviews: any[] = [];
  productSubcategory: string = "";
  productSubcategoryID:  number;
  style: string = "";
  productImage: string = "";
  productImageFileName: string = "";
  -->

  <div class="panel-body">

    <div class="row">
      <div class="container">

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="image-container">
            <img class="img-responsive image" alt="Photo"
              [src]="product.productImage | sourceBase64:'gif'"
              [title]="product.name">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <label class="form-label">Product Documents</label>
          <div class="fancy-form fancy-form-select">
            <select class="form-control">
              <option value="">{{product.productReviews}}</option>
              <option value="1">Document 1</option>
              <option value="2">Document 2</option>
              <option value="3">Document 3</option>
            </select>
            <i class="fa fa-arrow-down select-arrow"></i>
          </div>
          <hr />
          <div class="fancy-file-upload fancy-file-primary">
            <i class="fa fa-upload"></i>
            <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
            <input type="text" class="form-control" placeholder="no file selected" readonly="" />
            <span class="button input-attached-button">Attach File</span>
          </div>
          <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
        </div>

        <div class="col-xs-12 col-lg-4">
          <label class="form-label">Product Reviews</label>
          <div class="btn-group-vertical">
            <a class="btn btn-default" role="button"
              *ngFor="let item of product.productReviews
              | limitedDisplay: 3:'productReviewID':'number':'desc'">
              <i class="fa fa-user"></i>
              <span>
                {{item.shortMessage}}
              </span>
            </a>
            <app-popout-action
              modalId="product-review-modal"
              actionMessage= "Add a Review"
              actionClasses="btn btn-success full-width">
            </app-popout-action>
          </div>
        </div>

      </div>
    </div>

    <hr />

    <div class="row">
      <div class="container data-container">

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Name</label>
            <div class="fancy-form">
              <i class="fa fa-building"></i>
              <input type="text" [(ngModel)]="product.name" class="form-control" placeholder="Name">
              <span class="fancy-tooltip top-left">
                <em>The product's name</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Standard Cost</label>
            <div class="fancy-form">
              <i class="fa fa-dollar"></i>
              <input type="text" [(ngModel)]="product.standardCost" class="form-control" placeholder="Price per unit">
              <span class="fancy-tooltip top-left">
                <em>The manufacturing cost per unit</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Suggested Retail Price</label>
            <div class="fancy-form">
              <i class="fa fa-money"></i>
              <input type="text" [(ngModel)]="product.listPrice" class="form-control" placeholder="Market average">
              <span class="fancy-tooltip top-left">
                <em>The standard market price for suppliers</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 datepicker-form">
            <label class="form-label">Sell Start Date</label>
            <div class="fancy-form ">
              <i class="fa fa-calendar"></i>
            	<input type="text" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
              <span class="fancy-tooltip top-left">
                <em>The date this item has/will reach market</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Days to Manufacture</label>
            <div class="fancy-form">
              <i class="fa fa-dashboard"></i>
              <input type="text" [(ngModel)]="product.daysToManufacture" class="form-control" placeholder="Number of Days">
              <span class="fancy-tooltip top-left">
                <em>The average length of time between order and shipping dates</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Color</label>
            <div class="fancy-form">
              <i class="icon-picture icon-shift-up"></i>
              <input type="text" [(ngModel)]="product.color" class="form-control" placeholder="Red">
              <span class="fancy-tooltip top-left">
                <em>The product's color</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Style</label>
            <div class="fancy-form">
              <i class="fa fa-building"></i>
              <input type="text" [(ngModel)]="product.style" class="form-control" placeholder="Style">
              <span class="fancy-tooltip top-left">
                <em>The product's style</em>
              </span>
            </div>
        </div>

        <!--
          productSubcategory: string = "";
          productSubcategoryID:  number;
        -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Category ID</label>
            <div class="fancy-form">
              <i class="fa fa-building"></i>
              <input type="text" [(ngModel)]="product.productSubcategoryID" class="form-control" placeholder="Category">
              <span class="fancy-tooltip top-left">
                <em>The product's category</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Class</label>
            <div class="fancy-form">
              <i class="fa fa-building"></i>
              <input type="text" [(ngModel)]="product.class" class="form-control" placeholder="Class">
              <span class="fancy-tooltip top-left">
                <em>The product's class</em>
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <label class="form-label">Line</label>
            <div class="fancy-form">
              <i class="fa fa-building"></i>
              <input type="text" [(ngModel)]="product.productLine" class="form-control" placeholder="Style">
              <span class="fancy-tooltip top-left">
                <em>The product Line</em>
              </span>
            </div>
        </div>

        <h6  *ngIf='errorMessage.length' class="text-danger text-center">
          <hr/>
          Unable to Load product data due to an error
          <hr/>
          {{errorMessage}}
        </h6>

      </div>
    </div>

  </div>

  <br />

  <div class="panel-footer">
    <a class="btn btn-primary btn-xs">Save Data</a>
    <a (click)="onBack()" class="btn btn-info btn-xs">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
  </div>

</div>

<!--MODALS-->
<app-popout-content
  modalId="product-review-modal"
  title="Send a Product Review"
  primaryActionMessage="Send Review"
  (actionSelected)="onReviewClosed($event)">

  <div class="panel panel-default">
    <div class="panel-body">

      <strong>{{ product.name }}</strong>
      <hr />
      <div class="fancy-form">
        <textarea rows="5" class="form-control text-count" data-maxlength="800"
        data-info="textarea-words-info" placeholder="Tell us what you think"
        [(ngModel)]="reviewMessage"></textarea>
        <i class="fa fa-comments"></i>
        <span class="fancy-hint size-11 text-muted">
          <strong>800 characters allowed</strong>
          <span class="pull-right">
            <span id="textarea-words-info">0/800</span> Characters
          </span>
        </span>
      </div>

    </div>
  </div>

</app-popout-content>

<app-loading-panel [isVisible]="loading">
</app-loading-panel>


