<div class="panel panel-default" *ngIf='product'>
  <div class="panel-heading panel-heading-transparent">
    <h2 class="panel-title bold">{{productName}}</h2>
  </div>

  <div class="panel-body">

    <label>Phone Number <small>(fancy example - can be applied to all - TODO Reactive Forms)</small></label>
    <div class="fancy-form"><!-- input -->
      <i class="fa fa-phone-square"></i>

      <input type="text" class="form-control masked" data-format="(999) 999-999999" data-placeholder="X" placeholder="Enter telephone">

      <span class="fancy-tooltip top-left"> <!-- positions: .top-left | .top-right -->
        <em>Type Your Phone Number</em>
      </span>
    </div><!-- /input -->

    <br>

    <label>Phone + Optional Extension</label>
    <input type="text" class="form-control masked" data-format="(+999) 999-9999? 99999" data-placeholder="X" placeholder="Enter telephone">

    <br>

  </div>

  <div class="panel-footer">
    <a class="btn btn-success btn-xs">Save Data</a>
    <a (click)="onBack()" class="btn btn-success btn-xs">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
  </div>
</div>

<loading-panel [isVisible]="loading">
</loading-panel>
