<div class="panel panel-default" *ngIf='product'>

  <div class="panel-heading">
    <h2 class="panel-title bold">{{product.name}}</h2>
  </div>

  <!--
  //List Product
  productID: number = 0;
  name="";
  productNumber="";
  sellStartDate: Date;
  standardCost: number = 0;
  listPrice: number = 0;
  productThumbnail="";
  productThumbnailFileName="";

  //Full Product
  class="";
  color="";
  daysToManufacture: number = 0;
  productDocument="";
  productLine="";
  productReviews: any[] = [];
  productSubcategory="";
  productSubcategoryID:  number;
  style="";
  productImage="";
  productImageFileName="";
  -->

  <div class="panel-body">

    <div class="row">
      <div class="container">

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="image-container">
            <img class="img-responsive image" alt="Photo"
              [src]="product.productImage | sourceBase64:'gif'"
              [title]="product.name">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <label class="form-label">Product Documents</label>
          <div class="fancy-form fancy-form-select">
            <select class="form-control form-select">
              <option class="" value=""></option>
              <option value="1">Document</option>
              <option value="2">Image</option>
              <option value="3">Thumbnail</option>
            </select>
            <i class="fa fa-arrow-down select-arrow"></i>
          </div>
          <hr />
          <div class="fancy-file-upload fancy-file-default no-margin-bottom">
            <i class="fa fa-upload"></i>
            <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
            <input type="text" class="form-control file-name-input" placeholder="File location" readonly="" />
            <span class="button input-attached-button">Document</span>
          </div>
          <div class="fancy-file-upload fancy-file-primary no-margin-top-bottom">
            <i class="fa fa-upload"></i>
            <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
            <input type="text" class="form-control" style="overflow:hidden" placeholder="File location" readonly="" />
            <span class="button input-attached-button">Image</span>
          </div>
          <div class="fancy-file-upload fancy-file-info no-margin-top">
            <i class="fa fa-upload"></i>
            <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
            <input type="text" class="form-control" placeholder="File location" readonly="" />
            <span class="button input-attached-button">Thumbnail</span>
          </div>
        </div>

        <div class="col-xs-12 col-lg-4">
          <label class="form-label">Product Reviews</label>
          <div class="btn-group-vertical">
            <a class="btn btn-default" role="button"
              *ngFor="let item of product.productReviews
              | limitedDisplay: 4:'productReviewID':'number':'desc'">
              <i class="fa fa-user"></i>
              <span>
                {{item.shortMessage}}
              </span>
            </a>
            <app-popout-action
              modalId="product-review-modal"
              actionMessage= "Add a Review"
              actionClasses="btn btn-success full-width">
            </app-popout-action>
          </div>
        </div>

      </div>
    </div>

    <hr />

    <div class="row">
      <div class="container data-container">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-building"
              label="Name"
              placeholder="Name"
              tooltipText="The product's name"
              [(value)]="product.name"
              (valueChange)="product.name=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-dollar"
              label="Standard Cost"
              placeholder="Price per unit"
              tooltipText="The manufacturing cost per unit"
              [(value)]="product.standardCost"
              (valueChange)="product.standardCost=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-money"
              label="Suggested Retail Price"
              placeholder="Market average"
              tooltipText="The standard market price at retail locations"
              [(value)]="product.listPrice"
              (valueChange)="product.listPrice=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 datepicker-form">
          <app-styled-datepicker
              format="mm/dd/yyyy"
              label="Manufacturing Start Date"
              tooltipText="The date this item has/will reach market"
              [(value)]="product.sellStartDate"
              (valueChange)="product.sellStartDate=$event">
          </app-styled-datepicker>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-dashboard"
              label="Days to Manufacture"
              placeholder="Number of Days"
              tooltipText="The average length of time between order and shipping dates"
              [(value)]="product.daysToManufacture"
              (valueChange)="product.daysToManufacture=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="icon-shift-down icon-picture"
              label="Color"
              placeholder="Red"
              tooltipText="The product's color"
              [(value)]="product.color"
              (valueChange)="product.color=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-building"
              label="Style"
              placeholder="Style"
              tooltipText="The product's style"
              [(value)]="product.style"
              (valueChange)="product.style=$event">
          </app-styled-textbox>
        </div>

       <!--
          productSubcategory="";
          productSubcategoryID:  number;
        -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-building"
              label="Category"
              placeholder="Category"
              tooltipText="The product's category"
              [(value)]="product.productSubcategoryID"
              (valueChange)="product.productSubcategoryID=$event">
          </app-styled-textbox>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
          <app-styled-textbox
              iconClass="fa fa-nested fa-building"
              label="Line"
              placeholder="Line"
              tooltipText="The product' line"
              [(value)]="product.productLine"
              (valueChange)="product.productLine=$event">
          </app-styled-textbox>
        </div>

      </div>
    </div>

    <h6  *ngIf='errorMessage.length' class="text-danger text-center">
      <hr/>
      Unable to Load product data due to an error
      <hr/>
      {{errorMessage}}
    </h6>

  </div>

  <br />

  <div class="panel-footer">
    <a (click)="onBack()" class="btn btn-default btn-xs">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
    <a class="btn btn-primary btn-xs">Save Data</a>
  </div>

</div>

<!--MODALS-->
<app-popout-content
  modalId="product-review-modal"
  title="Send a Product Review"
  primaryActionMessage="Send Review"
  (actionSelected)="onReviewClosed($event)">

  <div class="panel panel-default">
    <div class="panel-body">

      <strong>{{ product.name }}</strong>
      <hr />
      <div class="fancy-form">
        <textarea rows="5" class="form-control text-count" data-maxlength="800"
        data-info="textarea-words-info" placeholder="Tell us what you think"
        [(ngModel)]="reviewMessage"></textarea>
        <i class="fa fa-comments"></i>
        <span class="fancy-hint size-11 text-muted">
          <strong>800 characters allowed</strong>
          <span class="pull-right">
            <span id="textarea-words-info">0/800</span> Characters
          </span>
        </span>
      </div>

    </div>
  </div>

</app-popout-content>

<app-loading-panel [isVisible]="loading">
</app-loading-panel>


